body {
  background-color: #4C5C68;
}

/* Main card layout */
.card-header {
  color: #C45A63;
  font-family: 'PT-Serif', serif;
  background-color: #EAEAEB;
  font-weight: bold;
  font-size: 40px;
}

.card {
  background-color: #EAEAEB ;
  margin-top: 100px ;
  margin-bottom: 100px;
  padding: 0px;
  float: none;
  border: none;
  
}
/* headshot */
#aboutPhoto {
  height: 200px;
  width: 200px;
  margin: 15px;
  float: left;
}

.card-body {
  color: #46494C;
  font-family: 'Mukta', sans-serif;
}

main {
  margin-bottom: 100px;
}
/* footer styling */
.footer {
  text-align: center;
  position: fixed;
  background-color: #46494C;
  color: #EAEAEB;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-items: center;
}
/* Navbar styling */
.navbar-brand {
  text-align: left;
  color: #C96971;
  font-family: 'Mukta', sans-serif;
}

.nav-link {
  color: #EAEAEB;
  text-align: right;
}

form {
  padding: 15px;
  font-family: 'Mukta', sans-serif;
}

.send-message {
  background-color: #C96971;
  border: none;

}

.contact-link {
  color: #C96971;
  font-size: 20px;
}

#gitIcon {
  background-color: white;
}

#gitLink {
  color: #C96971;
}

#linkedinIcon {
  height: 32px;
  width: 32px;
}