body {
  background-color: #D6EFFF;
}

.card-header {
  color: #CE7A02;
  font-family: 'PT-Serif', serif;
  background-color: #FFFBFF;
  font-weight: bold;
  font-size: 40px;
}

.card {
  background-color: #FFFBFF ;
  margin-top: 100px ;
  margin-bottom: 100px;
  padding: 0px;
  float: none;
  border: none;
  
}

#aboutPhoto {
  height: 200px;
  width: 200px;
  margin: 15px;
  float: left;
}

.card-body {
  color: #272727;
  font-family: 'Mukta', sans-serif;
}

main {
  margin-bottom: 100px;
}

.footer {
  text-align: center;
  position: fixed;
  background-color: #272727;
  color: #CE7A02;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.navbar-brand {
  text-align: left;
  color: #CE7A02;
  font-family: 'Mukta', sans-serif;
}

.nav-link {
  color: #FFFBFF;
  text-align: right;
}

.card-img-top {
  max-width: 300px;
}

.project-card {
  max-width: 300px;
  margin-left: 15px;
  margin-right: 15px;
}

form {
  padding: 15px;
}

.send-message {
  background-color: #CE7A02;
  border: none;

}

.contact-link {
  color: #CE7A02;
  font-size: 20px;
}

