body {
  background-color: #D6EFFF;
}

.card-header {
  color: #CE7A02;
  font-family: 'PT-Serif', serif;
  background-color: #FFFBFF;
  font-weight: bold;
  font-size: 40px;
}

.card {
  background-color: #FFFBFF ;
  margin-top: 100px ;
  margin-bottom: 100px;
  padding: 0px;
  float: none;
  
}

#aboutPhoto {
  height: 200px;
  width: 200px;
}